@model JORDAN_2T.ApplicationCore.ViewModels.HomeMovieListVM

@* 
<div class="header-navbar-menu"></div>
<div class="wrap-logo wrap-logo-sticky">

    <a asp-controller="Home" asp-action="Index" aria-label="Hệ thống phân phối Air Jordan chính hãng">
        <img src="//theme.hstatic.net/200000384421/1000955298/14/logo.png?v=20" alt="Hệ thống phân phối Air Jordan chính hãng" class="img-responsive logoimg">
    </a>

</div> *@
<div class="header-menu-desktop menu-desktop d-none d-lg-block header-main">
    <div class="navbar-mainmenu" >
        <div id="nav">
            <nav class="main-nav">
                <ul class="clearfix">
                    <li class="active dropdown">
                        <a asp-controller="Home" asp-action="Index" title="Trang chủ">Trang chủ</a>
                    </li>
                    @foreach (var item in Model.category)
                    {
                        <li class=" dropdown">
                        
                            <a asp-controller="Home" asp-action="Category" asp-route-Id="@item.Id" title="@item.Name">@item.Name<i class="fal fa-chevron-down" aria-hidden="true"></i></a>
                            
                                    <ul class="sub_menu">
                                        @foreach (var items in Model.subCategory)
                                        {
                                            @if (items.CategoryId==item.Id){
                                                <li class="">
                                                    <a asp-controller="Home" asp-action="SubCategory" asp-route-Id="@items.Id" title="Air Jordans">@items.Name	<i class="fal fa-chevron-right" aria-hidden="true"></i></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>